# Copyright (c) 2020-present Sven Greb <development@svengreb.de>
# This source code is licensed under the MIT license found in the LICENSE file.

# References:
#   https://yarnpkg.com/docs

# Resolve to latest minor and patch updates.
save-prefix "^"
